<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Start a New Game</title>
  </head>
  <body>
    <button id="startGameBtn" action="/start_new_game" method="post">
      Start a new game
    </button>

    <script>
      document
        .getElementById("startGameBtn")
        .addEventListener("click", function () {
          // Send a POST request to Flask route when the button is clicked
          fetch("/start_new_game", {
            method: "POST",
          })
            .then((response) => {
              if (!response.ok) {
                throw new Error("Failed to start a new game");
              }
              return response.text();
            })
            .then((data) => {
              console.log(data); // Log success message
            })
            .catch((error) => {
              console.error("Error:", error); // Log any errors
            });
        });
    </script>
  </body>
</html> -->
